In [1]:
# Import dependencies
import pandas as pd

In [8]:
# Reference to CSV and reading CSV into Pandas DataFrame
csv_path = "Resources/Behavioral_Risk.csv"
behaviorialrisk_df = pd.read_csv(csv_path)
behaviorialrisk_df.head(2)

,Year,LocationAbbr,LocationDesc,Datasource,PriorityArea1,PriorityArea2,PriorityArea3,PriorityArea4,Category,Topic,...,Data_Value_Footnote,Confidence_Limit_Low,Confidence_Limit_High,CategoryID,TopicID,IndicatorID,BreakoutCategoryID,BreakOutID,LocationID,GeoLocation
0,2011,NV,Nevada,BRFSS,None,None,None,None,Cardiovascular Diseases,Coronary Heart Disease,...,Statistically unstable estimates not presented...,NaN,NaN,C1,T4,BR001,BOC03,AGE04,32.0,"(39.493240390000494, -117.07184056399967)"
1,2011,NV,Nevada,BRFSS,None,None,None,None,Cardiovascular Diseases,Coronary Heart Disease,...,Statistically unstable estimates not presented...,NaN,NaN,C1,T4,BR001,BOC04,RAC02,32.0,"(39.493240390000494, -117.07184056399967)"

In [9]:
behaviorialrisk_df.columns

Index(['Year', 'LocationAbbr', 'LocationDesc', 'Datasource', 'PriorityArea1',
       'PriorityArea2', 'PriorityArea3', 'PriorityArea4', 'Category', 'Topic',
       'Indicator', 'Break_Out_Category', 'Break_out', 'Data_Value_Type',
       'Data_Value_Unit', 'Data_Value', 'Data_Value_Footnote_Symbol',
       'Data_Value_Footnote', 'Confidence_Limit_Low', 'Confidence_Limit_High',
       'CategoryID', 'TopicID', 'IndicatorID', 'BreakoutCategoryID',
       'BreakOutID', 'LocationID', 'GeoLocation'],
      dtype='object')

In [47]:
# Reference to CSV and reading CSV into Pandas DataFrame
csv_path = "Resources/HDMortality.csv"
hdmortality_df = pd.read_csv(csv_path)
hdmortality_df.head(2)

,Year,LocationAbbr,LocationDesc,GeographicLevel,DataSource,Class,Topic,Data_Value,Data_Value_Unit,Data_Value_Type,...,Stratification1,StratificationCategory2,Stratification2,TopicID,LocationID,Y_lat,X_lon,Georeference Column,States,Counties
0,2016,AZ,Santa Cruz County,County,NVSS,Cardiovascular Diseases,Heart Disease Mortality,178.8,"per 100,000 population","Age-adjusted, Spatially Smoothed, 3-year Avera...",...,Female,Race/Ethnicity,Hispanic,T2,4023,31.529969,-110.846130,POINT (-110.8461304 31.529969244),7.0,9
1,2016,CA,Alameda County,County,NVSS,Cardiovascular Diseases,Heart Disease Mortality,175,"per 100,000 population","Age-adjusted, Spatially Smoothed, 3-year Avera...",...,Male,Race/Ethnicity,Asian and Pacific Islander,T2,6001,37.642754,-121.877537,POINT (-121.87753659999998 37.642753818),8.0,"1,141"

In [48]:
hdmortality_df.columns

Index(['Year', 'LocationAbbr', 'LocationDesc', 'GeographicLevel', 'DataSource',
       'Class', 'Topic', 'Data_Value', 'Data_Value_Unit', 'Data_Value_Type',
       'Data_Value_Footnote_Symbol', 'Data_Value_Footnote',
       'StratificationCategory1', 'Stratification1', 'StratificationCategory2',
       'Stratification2', 'TopicID', 'LocationID', 'Y_lat', 'X_lon',
       'Georeference Column', 'States', 'Counties'],
      dtype='object')

In [9]:
# Reference to CSV and reading CSV into Pandas DataFrame
csv_path = "Resources/NHIS_heart_survey.csv"
nhis_df = pd.read_csv(csv_path)
nhis_df.head(2)

,Year,LocationAbbr,LocationDesc,DataSource,PriorityArea1,PriorityArea2,PriorityArea3,PriorityArea4,Category,Topic,...,Break_Out_Category,Break_Out,CategoryId,TopicId,IndicatorID,Data_Value_TypeID,BreakOutCategoryId,BreakOutId,LocationID,GeoLocation
0,2009,MDW,Midwest,NHIS,None,ABCS,None,None,Risk Factors,Smoking,...,Gender,Male,C2,T15,NS010,AgeStdz,BOC02,GEN01,9002,NaN
1,2009,SOU,South,NHIS,None,None,Healthy People 2020,None,Risk Factors,Physical Inactivity,...,Race,Non-Hispanic Black,C2,T14,NS011,Crude,BOC04,RAC02,9003,NaN

In [10]:
nhis_df.columns

Index(['Year', 'LocationAbbr', 'LocationDesc', 'DataSource', 'PriorityArea1',
       'PriorityArea2', 'PriorityArea3', 'PriorityArea4', 'Category', 'Topic',
       'Indicator', 'Data_Value_Type', 'Data_Value_Unit', 'Data_Value',
       'Data_Value_Alt', 'Data_Value_Footnote_Symbol', 'Data_Value_Footnote',
       'LowConfidenceLimit', 'HighConfidenceLimit', 'Break_Out_Category',
       'Break_Out', 'CategoryId', 'TopicId', 'IndicatorID',
       'Data_Value_TypeID', 'BreakOutCategoryId', 'BreakOutId', 'LocationID',
       'GeoLocation'],
      dtype='object')

In [2]:
import pyspark
from pyspark.sql import SparkSession
from pyspark import SparkFiles
from pyspark.sql import DataFrameReader
from pyspark.sql.functions import to_timestamp
from pyspark.sql.functions import col
from pyspark.sql.types import StructType, StructField, StringType, IntegerType
from pyspark.sql.types import *

In [3]:
spark = SparkSession \
    .builder \
    .appName('pyspark_demo_app') \
    .config('spark.driver.extraClassPath',
            'postgresql-42.2.9') \
    .master("local[*]") \
    .getOrCreate()

In [15]:
cardio_train_sdf = spark.read.format('csv').options(header='true', inferSchema='true', sep=";").load("Resources/cardio_train.csv")
cardio_train_sdf.show(3)

+---+-----+------+------+------+-----+-----+-----------+----+-----+----+------+------+
| id|  age|gender|height|weight|ap_hi|ap_lo|cholesterol|gluc|smoke|alco|active|cardio|
+---+-----+------+------+------+-----+-----+-----------+----+-----+----+------+------+
|  0|18393|     2|   168|  62.0|  110|   80|          1|   1|    0|   0|     1|     0|
|  1|20228|     1|   156|  85.0|  140|   90|          3|   1|    0|   0|     1|     1|
|  2|18857|     1|   165|  64.0|  130|   70|          3|   1|    0|   0|     0|     1|
+---+-----+------+------+------+-----+-----+-----------+----+-----+----+------+------+
only showing top 3 rows

In [5]:
nhis_sdf = spark.read.format('csv').options(header='true', inferSchema='true').load("Resources/NHIS_heart_survey.csv")
nhis_sdf.show(3)

+----+------------+------------+----------+--------------+-------------+-------------------+-------------+--------------------+-------------------+--------------------+----------------+---------------+----------+--------------+--------------------------+-------------------+------------------+-------------------+------------------+------------------+----------+-------+-----------+-----------------+------------------+----------+----------+-----------+
|Year|LocationAbbr|LocationDesc|DataSource| PriorityArea1|PriorityArea2|      PriorityArea3|PriorityArea4|            Category|              Topic|           Indicator| Data_Value_Type|Data_Value_Unit|Data_Value|Data_Value_Alt|Data_Value_Footnote_Symbol|Data_Value_Footnote|LowConfidenceLimit|HighConfidenceLimit|Break_Out_Category|         Break_Out|CategoryId|TopicId|IndicatorID|Data_Value_TypeID|BreakOutCategoryId|BreakOutId|LocationID|GeoLocation|
+----+------------+------------+----------+--------------+-------------+-------------------+-------------+--------------------+-------------------+--------------------+----------------+---------------+----------+--------------+--------------------------+-------------------+------------------+-------------------+------------------+------------------+----------+-------+-----------+-----------------+------------------+----------+----------+-----------+
|2009|         MDW|     Midwest|      NHIS|          None|         ABCS|               None|         None|        Risk Factors|            Smoking|Prevalence of cur...|Age-Standardized|    Percent (%)|      25.9|          25.9|                      null|               null|              23.7|               28.2|            Gender|              Male|        C2|    T15|      NS010|          AgeStdz|             BOC02|     GEN01|      9002|       null|
|2009|         SOU|       South|      NHIS|          None|         None|Healthy People 2020|         None|        Risk Factors|Physical Inactivity|Prevalence of phy...|           Crude|    Percent (%)|      37.6|          37.6|                      null|               null|              34.9|               40.3|              Race|Non-Hispanic Black|        C2|    T14|      NS011|            Crude|             BOC04|     RAC02|      9003|       null|
|2009|         MDW|     Midwest|      NHIS|Million Hearts|         None|               None|         None|Cardiovascular Di...|             Stroke|Prevalence of str...|           Crude|    Percent (%)|       2.6|           2.6|                      null|               null|               2.1|                3.3|            Gender|            Female|        C1|     T6|      NS004|            Crude|             BOC02|     GEN02|      9002|       null|
+----+------------+------------+----------+--------------+-------------+-------------------+-------------+--------------------+-------------------+--------------------+----------------+---------------+----------+--------------+--------------------------+-------------------+------------------+-------------------+------------------+------------------+----------+-------+-----------+-----------------+------------------+----------+----------+-----------+
only showing top 3 rows

In [4]:
entireDF4 = spark.read.jdbc(url=jdbc_url, table = 'heart_cardio_train', properties=dbConfig)
entireDF4.printSchema()
entireDF4.limit(5).show()

NameError: name 'jdbc_url' is not defined

In [ ]:
entireDF4 = spark.read.jdbc(url=jdbc_url, table = 'heart_nhis', properties=dbConfig)
entireDF4.printSchema()
entireDF4.limit(5).show()

In [ ]:
behavior_sdf = spark.read.format('csv').options(header='true', inferSchema='true').load("Resources/Behavioral_Risk.csv")
behavior_sdf.show(3)

In [ ]:
mortality_sdf = spark.read.format('csv').options(header='true', inferSchema='true').load("Resources/HDMortality.csv")
mortality_sdf.show(3)

In [51]:
cleveland_sdf = spark.read.format('csv').options(header='false', inferSchema='true').load("Resources/ml_cleveland_data.csv")
cleveland_sdf.show(3)

+----+---+---+-----+-----+---+---+-----+---+---+----+----+----+----+
| _c0|_c1|_c2|  _c3|  _c4|_c5|_c6|  _c7|_c8|_c9|_c10|_c11|_c12|_c13|
+----+---+---+-----+-----+---+---+-----+---+---+----+----+----+----+
|63.0|1.0|1.0|145.0|233.0|1.0|2.0|150.0|0.0|2.3| 3.0| 0.0| 6.0|   0|
|67.0|1.0|4.0|160.0|286.0|0.0|2.0|108.0|1.0|1.5| 2.0| 3.0| 3.0|   2|
|67.0|1.0|4.0|120.0|229.0|0.0|2.0|129.0|1.0|2.6| 2.0| 2.0| 7.0|   1|
+----+---+---+-----+-----+---+---+-----+---+---+----+----+----+----+
only showing top 3 rows

In [5]:
# tips on jdbc ... https://sparkour.urizone.net/recipes/using-jdbc/#03
# Load properties from file
import json
with open("Resources/db-properties.json") as propertyFile:
    properties = json.load(propertyFile)

dbMode = "overwrite"
jdbc_url= properties["jdbcUrl"]
dbConfig = {"user": properties["user"], 
          "password": properties["password"], 
          "driver": properties["driver"]
         }

In [6]:
entireDF4 = spark.read.jdbc(url=jdbc_url, table = 'heart_cardio_train', properties=dbConfig)
entireDF4.printSchema()
entireDF4.limit(5).show()

root
 |-- id: integer (nullable = true)
 |-- age: integer (nullable = true)
 |-- gender: integer (nullable = true)
 |-- height: integer (nullable = true)
 |-- weight: double (nullable = true)
 |-- ap_hi: integer (nullable = true)
 |-- ap_lo: integer (nullable = true)
 |-- cholesterol: integer (nullable = true)
 |-- gluc: integer (nullable = true)
 |-- smoke: integer (nullable = true)
 |-- alco: integer (nullable = true)
 |-- active: integer (nullable = true)
 |-- cardio: integer (nullable = true)

+---+-----+------+------+------+-----+-----+-----------+----+-----+----+------+------+
| id|  age|gender|height|weight|ap_hi|ap_lo|cholesterol|gluc|smoke|alco|active|cardio|
+---+-----+------+------+------+-----+-----+-----------+----+-----+----+------+------+
|  0|18393|     2|   168|  62.0|  110|   80|          1|   1|    0|   0|     1|     0|
|  1|20228|     1|   156|  85.0|  140|   90|          3|   1|    0|   0|     1|     1|
|  2|18857|     1|   165|  64.0|  130|   70|          3|   1|    0|   0|     0|     1|
|  3|17623|     2|   169|  82.0|  150|  100|          1|   1|    0|   0|     1|     1|
|  4|17474|     1|   156|  56.0|  100|   60|          1|   1|    0|   0|     0|     0|
+---+-----+------+------+------+-----+-----+-----------+----+-----+----+------+------+

In [8]:
# convert spark df to pandas df for pandas manipulation
heart_cardio = entireDF4.select("*").toPandas()

In [9]:
heart_cardio.head()

,id,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
0,0,18393,2,168,62.0,110,80,1,1,0,0,1,0
1,1,20228,1,156,85.0,140,90,3,1,0,0,1,1
2,2,18857,1,165,64.0,130,70,3,1,0,0,0,1
3,3,17623,2,169,82.0,150,100,1,1,0,0,1,1
4,4,17474,1,156,56.0,100,60,1,1,0,0,0,0

In [11]:
heart_cardio.describe()

,id,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
count,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000
mean,49972.419900,19468.865814,1.349571,164.359229,74.205690,128.817286,96.630414,1.366871,1.226457,0.088129,0.053771,0.803729,0.499700
std,28851.302323,2467.251667,0.476838,8.210126,14.395757,154.011419,188.472530,0.680250,0.572270,0.283484,0.225568,0.397179,0.500003
min,0.000000,10798.000000,1.000000,55.000000,10.000000,-150.000000,-70.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000
25%,25006.750000,17664.000000,1.000000,159.000000,65.000000,120.000000,80.000000,1.000000,1.000000,0.000000,0.000000,1.000000,0.000000
50%,50001.500000,19703.000000,1.000000,165.000000,72.000000,120.000000,80.000000,1.000000,1.000000,0.000000,0.000000,1.000000,0.000000
75%,74889.250000,21327.000000,2.000000,170.000000,82.000000,140.000000,90.000000,2.000000,1.000000,0.000000,0.000000,1.000000,1.000000
max,99999.000000,23713.000000,2.000000,250.000000,200.000000,16020.000000,11000.000000,3.000000,3.000000,1.000000,1.000000,1.000000,1.000000

In [17]:
# Append DataFrame to heart_behavior_risk table
cardio_train_sdf.write.jdbc(url=jdbc_url, table = 'heart_cardio_train', mode=dbMode, properties=dbConfig)

In [13]:
# Append DataFrame to heart_behavior_risk table
nhis_sdf.write.jdbc(url=jdbc_url, table = 'heart_nhis', mode=dbMode, properties=dbConfig)

In [45]:
# Append DataFrame to heart_behavior_risk table
behavior_sdf.write.jdbc(url=jdbc_url, table = 'heart_behavior_risk', mode=dbMode, properties=dbConfig)

In [49]:
# Append DataFrame to heart_mortality table
mortality_sdf.write.jdbc(url=jdbc_url, table = 'heart_mortality', mode=dbMode, properties=dbConfig)

In [53]:
# Append DataFrame to heart_mortality table
cleveland_sdf.write.jdbc(url=jdbc_url, table = 'heart_ml_cleveland', mode=dbMode, properties=dbConfig)

In [18]:
entireDF5 = spark.read.jdbc(url=jdbc_url, table = 'heart_cardio_train', properties=dbConfig)
entireDF5.printSchema()
entireDF5.limit(5).show()

root
 |-- id: integer (nullable = true)
 |-- age: integer (nullable = true)
 |-- gender: integer (nullable = true)
 |-- height: integer (nullable = true)
 |-- weight: double (nullable = true)
 |-- ap_hi: integer (nullable = true)
 |-- ap_lo: integer (nullable = true)
 |-- cholesterol: integer (nullable = true)
 |-- gluc: integer (nullable = true)
 |-- smoke: integer (nullable = true)
 |-- alco: integer (nullable = true)
 |-- active: integer (nullable = true)
 |-- cardio: integer (nullable = true)

+---+-----+------+------+------+-----+-----+-----------+----+-----+----+------+------+
| id|  age|gender|height|weight|ap_hi|ap_lo|cholesterol|gluc|smoke|alco|active|cardio|
+---+-----+------+------+------+-----+-----+-----------+----+-----+----+------+------+
|  0|18393|     2|   168|  62.0|  110|   80|          1|   1|    0|   0|     1|     0|
|  1|20228|     1|   156|  85.0|  140|   90|          3|   1|    0|   0|     1|     1|
|  2|18857|     1|   165|  64.0|  130|   70|          3|   1|    0|   0|     0|     1|
|  3|17623|     2|   169|  82.0|  150|  100|          1|   1|    0|   0|     1|     1|
|  4|17474|     1|   156|  56.0|  100|   60|          1|   1|    0|   0|     0|     0|
+---+-----+------+------+------+-----+-----+-----------+----+-----+----+------+------+

In [14]:
entireDF4 = spark.read.jdbc(url=jdbc_url, table = 'heart_nhis', properties=dbConfig)
entireDF4.printSchema()
entireDF4.limit(5).show()

root
 |-- Year: integer (nullable = true)
 |-- LocationAbbr: string (nullable = true)
 |-- LocationDesc: string (nullable = true)
 |-- DataSource: string (nullable = true)
 |-- PriorityArea1: string (nullable = true)
 |-- PriorityArea2: string (nullable = true)
 |-- PriorityArea3: string (nullable = true)
 |-- PriorityArea4: string (nullable = true)
 |-- Category: string (nullable = true)
 |-- Topic: string (nullable = true)
 |-- Indicator: string (nullable = true)
 |-- Data_Value_Type: string (nullable = true)
 |-- Data_Value_Unit: string (nullable = true)
 |-- Data_Value: double (nullable = true)
 |-- Data_Value_Alt: double (nullable = true)
 |-- Data_Value_Footnote_Symbol: string (nullable = true)
 |-- Data_Value_Footnote: string (nullable = true)
 |-- LowConfidenceLimit: double (nullable = true)
 |-- HighConfidenceLimit: double (nullable = true)
 |-- Break_Out_Category: string (nullable = true)
 |-- Break_Out: string (nullable = true)
 |-- CategoryId: string (nullable = true)
 |-- TopicId: string (nullable = true)
 |-- IndicatorID: string (nullable = true)
 |-- Data_Value_TypeID: string (nullable = true)
 |-- BreakOutCategoryId: string (nullable = true)
 |-- BreakOutId: string (nullable = true)
 |-- LocationID: integer (nullable = true)
 |-- GeoLocation: string (nullable = true)

+----+------------+-------------+----------+-------------+-------------+-------------------+-------------+------------+------------+--------------------+----------------+---------------+----------+--------------+--------------------------+--------------------+------------------+-------------------+------------------+------------------+----------+-------+-----------+-----------------+------------------+----------+----------+-----------+
|Year|LocationAbbr| LocationDesc|DataSource|PriorityArea1|PriorityArea2|      PriorityArea3|PriorityArea4|    Category|       Topic|           Indicator| Data_Value_Type|Data_Value_Unit|Data_Value|Data_Value_Alt|Data_Value_Footnote_Symbol| Data_Value_Footnote|LowConfidenceLimit|HighConfidenceLimit|Break_Out_Category|         Break_Out|CategoryId|TopicId|IndicatorID|Data_Value_TypeID|BreakOutCategoryId|BreakOutId|LocationID|GeoLocation|
+----+------------+-------------+----------+-------------+-------------+-------------------+-------------+------------+------------+--------------------+----------------+---------------+----------+--------------+--------------------------+--------------------+------------------+-------------------+------------------+------------------+----------+-------+-----------+-----------------+------------------+----------+----------+-----------+
|2012|          US|United States|      NHIS|         None|         None|Healthy People 2020|         None|Risk Factors|Hypertension|Prevalence of adu...|           Crude|    Percent (%)|      null|          -2.0|                         ~|Statistically uns...|              null|               null|               Age|               35+|        C2|     T9|      NS012|            Crude|             BOC03|     AGE07|        59|       null|
|2016|        WEST|         West|      NHIS|         None|         None|Healthy People 2020|         None|Risk Factors|Hypertension|Prevalence of adu...|           Crude|    Percent (%)|      null|          -2.0|                         ~|Statistically uns...|              null|               null|               Age|             25-44|        C2|     T9|      NS012|            Crude|             BOC03|     AGE04|      9004|       null|
|2000|         NRE|    Northeast|      NHIS|         None|         None|Healthy People 2020|         None|Risk Factors|Hypertension|Prevalence of adu...|           Crude|    Percent (%)|      null|          -2.0|                         ~|Statistically uns...|              null|               null|              Race|Non-Hispanic Asian|        C2|     T9|      NS012|            Crude|             BOC04|     RAC03|      9001|       null|
|2004|         NRE|    Northeast|      NHIS|         None|         None|Healthy People 2020|         None|Risk Factors|Hypertension|Prevalence of adu...|Age-Standardized|    Percent (%)|      null|          -2.0|                         ~|Statistically uns...|              null|               null|              Race|          Hispanic|        C2|     T9|      NS012|          AgeStdz|             BOC04|     RAC04|      9001|       null|
|2016|        WEST|         West|      NHIS|         None|         ABCS|               None|         None|Risk Factors|     Smoking|Prevalence of cur...|           Crude|    Percent (%)|      10.9|          10.9|                      null|                null|               8.1|               14.4|               Age|             18-24|        C2|    T15|      NS010|            Crude|             BOC03|     AGE01|      9004|       null|
+----+------------+-------------+----------+-------------+-------------+-------------------+-------------+------------+------------+--------------------+----------------+---------------+----------+--------------+--------------------------+--------------------+------------------+-------------------+------------------+------------------+----------+-------+-----------+-----------------+------------------+----------+----------+-----------+

In [54]:
entireDF3 = spark.read.jdbc(url=jdbc_url, table = 'heart_ml_cleveland', properties=dbConfig)
entireDF3.printSchema()
entireDF3.limit(5).show()

root
 |-- _c0: double (nullable = true)
 |-- _c1: double (nullable = true)
 |-- _c2: double (nullable = true)
 |-- _c3: double (nullable = true)
 |-- _c4: double (nullable = true)
 |-- _c5: double (nullable = true)
 |-- _c6: double (nullable = true)
 |-- _c7: double (nullable = true)
 |-- _c8: double (nullable = true)
 |-- _c9: double (nullable = true)
 |-- _c10: double (nullable = true)
 |-- _c11: string (nullable = true)
 |-- _c12: string (nullable = true)
 |-- _c13: integer (nullable = true)

+----+---+---+-----+-----+---+---+-----+---+---+----+----+----+----+
| _c0|_c1|_c2|  _c3|  _c4|_c5|_c6|  _c7|_c8|_c9|_c10|_c11|_c12|_c13|
+----+---+---+-----+-----+---+---+-----+---+---+----+----+----+----+
|63.0|1.0|1.0|145.0|233.0|1.0|2.0|150.0|0.0|2.3| 3.0| 0.0| 6.0|   0|
|67.0|1.0|4.0|160.0|286.0|0.0|2.0|108.0|1.0|1.5| 2.0| 3.0| 3.0|   2|
|67.0|1.0|4.0|120.0|229.0|0.0|2.0|129.0|1.0|2.6| 2.0| 2.0| 7.0|   1|
|37.0|1.0|3.0|130.0|250.0|0.0|0.0|187.0|0.0|3.5| 3.0| 0.0| 3.0|   0|
|41.0|0.0|2.0|130.0|204.0|0.0|2.0|172.0|0.0|1.4| 1.0| 0.0| 3.0|   0|
+----+---+---+-----+-----+---+---+-----+---+---+----+----+----+----+

In [50]:
entireDF2 = spark.read.jdbc(url=jdbc_url, table = 'heart_mortality', properties=dbConfig)
entireDF2.printSchema()
entireDF2.limit(5).show()

root
 |-- Year: integer (nullable = true)
 |-- LocationAbbr: string (nullable = true)
 |-- LocationDesc: string (nullable = true)
 |-- GeographicLevel: string (nullable = true)
 |-- DataSource: string (nullable = true)
 |-- Class: string (nullable = true)
 |-- Topic: string (nullable = true)
 |-- Data_Value: string (nullable = true)
 |-- Data_Value_Unit: string (nullable = true)
 |-- Data_Value_Type: string (nullable = true)
 |-- Data_Value_Footnote_Symbol: string (nullable = true)
 |-- Data_Value_Footnote: string (nullable = true)
 |-- StratificationCategory1: string (nullable = true)
 |-- Stratification1: string (nullable = true)
 |-- StratificationCategory2: string (nullable = true)
 |-- Stratification2: string (nullable = true)
 |-- TopicID: string (nullable = true)
 |-- LocationID: integer (nullable = true)
 |-- Y_lat: double (nullable = true)
 |-- X_lon: double (nullable = true)
 |-- Georeference Column: string (nullable = true)
 |-- States: integer (nullable = true)
 |-- Counties: string (nullable = true)

+----+------------+----------------+---------------+----------+--------------------+--------------------+----------+--------------------+--------------------+--------------------------+-------------------+-----------------------+---------------+-----------------------+--------------------+-------+----------+------------+------------+--------------------+------+--------+
|Year|LocationAbbr|    LocationDesc|GeographicLevel|DataSource|               Class|               Topic|Data_Value|     Data_Value_Unit|     Data_Value_Type|Data_Value_Footnote_Symbol|Data_Value_Footnote|StratificationCategory1|Stratification1|StratificationCategory2|     Stratification2|TopicID|LocationID|       Y_lat|       X_lon| Georeference Column|States|Counties|
+----+------------+----------------+---------------+----------+--------------------+--------------------+----------+--------------------+--------------------+--------------------------+-------------------+-----------------------+---------------+-----------------------+--------------------+-------+----------+------------+------------+--------------------+------+--------+
|2016|          CT|New Haven County|         County|      NVSS|Cardiovascular Di...|Heart Disease Mor...|     235.4|per 100,000 popul...|Age-adjusted, Spa...|                      null|               null|                 Gender|         Female|         Race/Ethnicity|               Black|     T2|      9009|41.411248917|-72.93600942|POINT (-72.936009...|    24|   1,044|
|2016|          CO|   Morgan County|         County|      NVSS|Cardiovascular Di...|Heart Disease Mor...|     214.6|per 100,000 popul...|Age-adjusted, Spa...|                      null|               null|                 Gender|           Male|         Race/Ethnicity|               Black|     T2|      8087|40.253788089|-103.7968604|POINT (-103.79686...|     9|   1,059|
|2016|          AR|  Garland County|         County|      NVSS|Cardiovascular Di...|Heart Disease Mor...|      null|per 100,000 popul...|Age-adjusted, Spa...|                         ~|  Insufficient Data|                 Gender|           Male|         Race/Ethnicity|Asian and Pacific...|     T2|      5051|34.580218603|-93.14398988|POINT (-93.143989...|    15|      16|
|2016|          AR|  Prairie County|         County|      NVSS|Cardiovascular Di...|Heart Disease Mor...|     392.2|per 100,000 popul...|Age-adjusted, Spa...|                      null|               null|                 Gender|        Overall|         Race/Ethnicity|             Overall|     T2|      5117|34.835259759|-91.54845359|POINT (-91.548453...|    15|     997|
|2016|          IA| Plymouth County|         County|      NVSS|Cardiovascular Di...|Heart Disease Mor...|      null|per 100,000 popul...|Age-adjusted, Spa...|                         ~|  Insufficient Data|                 Gender|           Male|         Race/Ethnicity|Asian and Pacific...|     T2|     19149|42.742135566|-96.22006873|POINT (-96.220068...|    16|   1,838|
+----+------------+----------------+---------------+----------+--------------------+--------------------+----------+--------------------+--------------------+--------------------------+-------------------+-----------------------+---------------+-----------------------+--------------------+-------+----------+------------+------------+--------------------+------+--------+

In [46]:
entireDF = spark.read.jdbc(url=jdbc_url, table = 'heart_behavior_risk', properties=dbConfig)
entireDF.printSchema()
entireDF.limit(5).show()

root
 |-- Year: integer (nullable = true)
 |-- LocationAbbr: string (nullable = true)
 |-- LocationDesc: string (nullable = true)
 |-- Datasource: string (nullable = true)
 |-- PriorityArea1: string (nullable = true)
 |-- PriorityArea2: string (nullable = true)
 |-- PriorityArea3: string (nullable = true)
 |-- PriorityArea4: string (nullable = true)
 |-- Category: string (nullable = true)
 |-- Topic: string (nullable = true)
 |-- Indicator: string (nullable = true)
 |-- Break_Out_Category: string (nullable = true)
 |-- Break_out: string (nullable = true)
 |-- Data_Value_Type: string (nullable = true)
 |-- Data_Value_Unit: string (nullable = true)
 |-- Data_Value: double (nullable = true)
 |-- Data_Value_Footnote_Symbol: string (nullable = true)
 |-- Data_Value_Footnote: string (nullable = true)
 |-- Confidence_Limit_Low: double (nullable = true)
 |-- Confidence_Limit_High: double (nullable = true)
 |-- CategoryID: string (nullable = true)
 |-- TopicID: string (nullable = true)
 |-- IndicatorID: string (nullable = true)
 |-- BreakoutCategoryID: string (nullable = true)
 |-- BreakOutID: string (nullable = true)
 |-- LocationID: double (nullable = true)
 |-- GeoLocation: string (nullable = true)

+----+------------+------------+----------+-------------+-------------+-------------------+-------------+------------+------------+--------------------+------------------+---------+---------------+---------------+----------+--------------------------+-------------------+--------------------+---------------------+----------+-------+-----------+------------------+----------+----------+--------------------+
|Year|LocationAbbr|LocationDesc|Datasource|PriorityArea1|PriorityArea2|      PriorityArea3|PriorityArea4|    Category|       Topic|           Indicator|Break_Out_Category|Break_out|Data_Value_Type|Data_Value_Unit|Data_Value|Data_Value_Footnote_Symbol|Data_Value_Footnote|Confidence_Limit_Low|Confidence_Limit_High|CategoryID|TopicID|IndicatorID|BreakoutCategoryID|BreakOutID|LocationID|         GeoLocation|
+----+------------+------------+----------+-------------+-------------+-------------------+-------------+------------+------------+--------------------+------------------+---------+---------------+---------------+----------+--------------------------+-------------------+--------------------+---------------------+----------+-------+-----------+------------------+----------+----------+--------------------+
|2013|          MT|     Montana|     BRFSS|         None|         None|Healthy People 2020|         None|Risk Factors|Hypertension|Heart Disease and...|            Gender|   Female|     Percentage|              %|      59.7|                      null|               null|                53.5|                 65.5|        C2|     T9|     BRP311|             BOC02|     GEN02|      30.0|(47.0665289720004...|
|2013|          NM|  New Mexico|     BRFSS|         None|         None|Healthy People 2020|         None|Risk Factors|Hypertension|Heart Disease and...|              Race| Hispanic|     Percentage|              %|      59.7|                      null|               null|                55.1|                 64.1|        C2|     T9|     BRP311|             BOC04|     RAC04|      35.0|(34.5208809520004...|
|2011|          NJ|  New Jersey|     BRFSS|         None|         None|               None|         None|Risk Factors|Hypertension|Prevalence of hyp...|            Gender|   Female|     Percentage|              %|      59.8|                      null|               null|                56.2|                 63.3|        C2|     T9|      BR012|             BOC02|     GEN02|      34.0|(40.1305700480004...|
|2011|          NY|    New York|     BRFSS|         None|         None|               None|         None|Risk Factors|Hypertension|Prevalence of hyp...|            Gender|     Male|     Percentage|              %|      59.8|                      null|               null|                54.3|                 65.1|        C2|     T9|      BR012|             BOC02|     GEN01|      36.0|(42.8270010320004...|
|2011|          UT|        Utah|     BRFSS|         None|         None|               None|         None|Risk Factors|Hypertension|Prevalence of hyp...|            Gender|   Female|     Percentage|              %|      59.8|                      null|               null|                55.1|                 64.4|        C2|     T9|      BR012|             BOC02|     GEN02|      49.0|(39.3607001710004...|
+----+------------+------------+----------+-------------+-------------+-------------------+-------------+------------+------------+--------------------+------------------+---------+---------------+---------------+----------+--------------------------+-------------------+--------------------+---------------------+----------+-------+-----------+------------------+----------+----------+--------------------+

In [15]:
# https://docs.aws.amazon.com/glue/latest/dg/aws-glue-api-crawler-pyspark-extensions-types.html
# from pyspark.sql.types import *
# schema = StructType(
#     [StructField("Year", IntegerType(), True),
#      StructField("LocationAbbr", StringType(), True),
#      StructField("LocationDesc", StringType(), True),
#      StructField("Datasource", StringType(), True),
#      StructField("PriorityArea1", StringType(), True),
#      StructField("PriorityArea2", StringType(), True),
#      StructField("PriorityArea3", StringType(), True),
#      StructField("PriorityArea4", StringType(), True),
#      StructField("Category", StringType(), True),
#      StructField("Topic", StringType(), True),
#      StructField("Indicator", StringType(), True),
#      StructField("Break_Out_Category", StringType(), True),
#      StructField("Break_out", StringType(), True),
#      StructField("Data_Value_Type", StringType(), True),
#      StructField("Data_Value_Unit", StringType(), True),
#      StructField("Data_Value", StringType(), True),
#      StructField("Data_Value_Footnote_Symbol", StringType(), True),
#      StructField("Data_Value_Footnote", StringType(), True),
#      StructField("Confidence_Limit_Low", StringType(), True),
#      StructField("Confidence_Limit_High", StringType(), True),
#      StructField("CategoryID", StringType(), True),
#      StructField("TopicID", StringType(), True),
#      StructField("IndicatorID", StringType(), True),
#      StructField("BreakoutCategoryID", StringType(), True),
#      StructField("BreakOutID", StringType(), True),
#      StructField("LocationID", StringType(), True),
#      StructField("GeoLocation", StringType(), True)])

# pd_df = pd.read_csv("Resources/Behavioral_Risk.csv")
# sp_df = spark.createDataFrame(pd_df, schema=schema)

In [ ]:
# df = spark.read.csv("Resources/user_data.csv")
# df2 = spark.read.csv("Resources/HDMortality.csv")
# df3 = spark.read.csv("Resources/Behavioral_Risk.csv")
# df.show(5)

In [55]:
from pyspark import SparkFiles
# Load in user_data.csv from S3 into a DataFrame
#get the csv from https://data.world/cdc/behavioral-risk-factor-heart
#rename the file to shorter file name
url = "https://heartsense.s3.us-east-2.amazonaws.com/Behavioral_Risk.csv"
spark.sparkContext.addFile(url)

user_data_df = spark.read.option('header', 'true').csv(SparkFiles.get("Behavioral_Risk.csv"), inferSchema=True, sep=',')
user_data_df.show(2)

+----+------------+------------+----------+-------------+-------------+-------------+-------------+--------------------+--------------------+--------------------+------------------+------------------+---------------+---------------+----------+--------------------------+--------------------+--------------------+---------------------+----------+-------+-----------+------------------+----------+----------+--------------------+
|Year|LocationAbbr|LocationDesc|Datasource|PriorityArea1|PriorityArea2|PriorityArea3|PriorityArea4|            Category|               Topic|           Indicator|Break_Out_Category|         Break_out|Data_Value_Type|Data_Value_Unit|Data_Value|Data_Value_Footnote_Symbol| Data_Value_Footnote|Confidence_Limit_Low|Confidence_Limit_High|CategoryID|TopicID|IndicatorID|BreakoutCategoryID|BreakOutID|LocationID|         GeoLocation|
+----+------------+------------+----------+-------------+-------------+-------------+-------------+--------------------+--------------------+--------------------+------------------+------------------+---------------+---------------+----------+--------------------------+--------------------+--------------------+---------------------+----------+-------+-----------+------------------+----------+----------+--------------------+
|2011|          NV|      Nevada|     BRFSS|         None|         None|         None|         None|Cardiovascular Di...|Coronary Heart Di...|Prevalence of cor...|               Age|             25-44|     Percentage|              %|      null|                         ~|Statistically uns...|                null|                 null|        C1|     T4|      BR001|             BOC03|     AGE04|      32.0|(39.4932403900004...|
|2011|          NV|      Nevada|     BRFSS|         None|         None|         None|         None|Cardiovascular Di...|Coronary Heart Di...|Prevalence of cor...|              Race|Non-Hispanic Black|     Percentage|              %|      null|                         ~|Statistically uns...|                null|                 null|        C1|     T4|      BR001|             BOC04|     RAC02|      32.0|(39.4932403900004...|
+----+------------+------------+----------+-------------+-------------+-------------+-------------+--------------------+--------------------+--------------------+------------------+------------------+---------------+---------------+----------+--------------------------+--------------------+--------------------+---------------------+----------+-------+-----------+------------------+----------+----------+--------------------+
only showing top 2 rows