In [1]:
import pandas as pd
import numpy as np
import os
import matplotlib as plt
%matplotlib inline
exec(open(os.path.join(os.environ["SPARK_HOME"], 'python/pyspark/shell.py')).read())

Welcome to
      ____              __
     / __/__  ___ _____/ /__
    _\ \/ _ \/ _ `/ __/  '_/
   /__ / .__/\_,_/_/ /_/\_\   version 2.4.4
      /_/

Using Python version 3.7.4 (default, Aug 13 2019 15:17:50)
SparkSession available as 'spark'.

In [1]:
import pyspark
from pyspark.sql import SparkSession
from pyspark import SparkFiles
from pyspark.sql import DataFrameReader
from pyspark.sql.functions import to_timestamp
from pyspark.sql.functions import col
from pyspark.sql.types import StructType, StructField, StringType, IntegerType
from pyspark.sql.types import *

In [2]:
spark = SparkSession \
    .builder \
    .appName('pyspark_demo_app') \
    .config('spark.driver.extraClassPath',
            'postgresql-42.2.9') \
    .master("local[*]") \
    .getOrCreate()

In [3]:
# tips on jdbc ... https://sparkour.urizone.net/recipes/using-jdbc/#03
# Load properties from file
import json
with open("../data-load/Resources/db-properties.json") as propertyFile:
    properties = json.load(propertyFile)

dbMode = "overwrite"
jdbc_url= properties["jdbcUrl"]
dbConfig = {"user": properties["user"], 
          "password": properties["password"], 
          "driver": properties["driver"]
         }

In [4]:
entireDF = spark.read.jdbc(url=jdbc_url, table = 'heart_cardio_train', properties=dbConfig)
entireDF.printSchema()
entireDF.limit(5).show()

root
 |-- id: integer (nullable = true)
 |-- age: integer (nullable = true)
 |-- gender: integer (nullable = true)
 |-- height: integer (nullable = true)
 |-- weight: double (nullable = true)
 |-- ap_hi: integer (nullable = true)
 |-- ap_lo: integer (nullable = true)
 |-- cholesterol: integer (nullable = true)
 |-- gluc: integer (nullable = true)
 |-- smoke: integer (nullable = true)
 |-- alco: integer (nullable = true)
 |-- active: integer (nullable = true)
 |-- cardio: integer (nullable = true)
 |-- age_yrs: integer (nullable = true)
 |-- weight_lbs: decimal(38,18) (nullable = true)
 |-- height_inches: decimal(38,18) (nullable = true)
 |-- bmi: decimal(38,18) (nullable = true)
 |-- bmi_category: string (nullable = true)

+-----+-----+------+------+------+-----+-----+-----------+----+-----+----+------+------+-------+--------------------+--------------------+--------------------+------------+
|   id|  age|gender|height|weight|ap_hi|ap_lo|cholesterol|gluc|smoke|alco|active|cardio|age_yrs|          weight_lbs|       height_inches|                 bmi|bmi_category|
+-----+-----+------+------+------+-----+-----+-----------+----+-----+----+------+------+-------+--------------------+--------------------+--------------------+------------+
|54329|14395|     1|   158|  46.0|  110|   70|          1|   1|    0|   0|     1|     0|     39|101.4100000000000...|62.00000000000000...|18.43000000000000...| Underweight|
|54400|20571|     2|   166|  48.0|  120|   90|          2|   1|    0|   0|     1|     0|     56|105.8200000000000...|65.00000000000000...|17.42000000000000...| Underweight|
|14908|22007|     1|   162|  38.0|  100|   70|          1|   1|    0|   0|     1|     0|     60|83.78000000000000...|64.00000000000000...|14.48000000000000...| Underweight|
|54860|18290|     2|   171|  51.0|  140|   80|          3|   1|    1|   1|     1|     1|     50|112.4400000000000...|67.00000000000000...|17.44000000000000...| Underweight|
|54895|23113|     2|   167|  48.0|  140|   80|          1|   1|    0|   0|     1|     1|     63|105.8200000000000...|66.00000000000000...|17.21000000000000...| Underweight|
+-----+-----+------+------+------+-----+-----+-----------+----+-----+----+------+------+-------+--------------------+--------------------+--------------------+------------+

In [5]:
#convert to pandas df
heart_cardio = entireDF.select("*").toPandas()
heart_cardio.head()

,id,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio,age_yrs,weight_lbs,height_inches,bmi,bmi_category
0,54329,14395,1,158,46.0,110,70,1,1,0,0,1,0,39,101.410000000000000000,62.000000000000000000,18.430000000000000000,Underweight
1,54400,20571,2,166,48.0,120,90,2,1,0,0,1,0,56,105.820000000000000000,65.000000000000000000,17.420000000000000000,Underweight
2,14908,22007,1,162,38.0,100,70,1,1,0,0,1,0,60,83.780000000000000000,64.000000000000000000,14.480000000000000000,Underweight
3,54860,18290,2,171,51.0,140,80,3,1,1,1,1,1,50,112.440000000000000000,67.000000000000000000,17.440000000000000000,Underweight
4,54895,23113,2,167,48.0,140,80,1,1,0,0,1,1,63,105.820000000000000000,66.000000000000000000,17.210000000000000000,Underweight

In [6]:
heart_cardio=heart_cardio.drop(columns=['id','age', 'height','weight', 'bmi_category'], axis=1)
heart_cardio.head()

,gender,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio,age_yrs,weight_lbs,height_inches,bmi
0,1,110,70,1,1,0,0,1,0,39,101.410000000000000000,62.000000000000000000,18.430000000000000000
1,2,120,90,2,1,0,0,1,0,56,105.820000000000000000,65.000000000000000000,17.420000000000000000
2,1,100,70,1,1,0,0,1,0,60,83.780000000000000000,64.000000000000000000,14.480000000000000000
3,2,140,80,3,1,1,1,1,1,50,112.440000000000000000,67.000000000000000000,17.440000000000000000
4,2,140,80,1,1,0,0,1,1,63,105.820000000000000000,66.000000000000000000,17.210000000000000000

In [7]:
#Rename columns
heart_cardio=heart_cardio.rename(columns={"ap_hi": "systolic pressure", "ap_lo": "diastolic pressure", "alco": "alcohol"})
heart_cardio.head()

,gender,systolic pressure,diastolic pressure,cholesterol,gluc,smoke,alcohol,active,cardio,age_yrs,weight_lbs,height_inches,bmi
0,1,110,70,1,1,0,0,1,0,39,101.410000000000000000,62.000000000000000000,18.430000000000000000
1,2,120,90,2,1,0,0,1,0,56,105.820000000000000000,65.000000000000000000,17.420000000000000000
2,1,100,70,1,1,0,0,1,0,60,83.780000000000000000,64.000000000000000000,14.480000000000000000
3,2,140,80,3,1,1,1,1,1,50,112.440000000000000000,67.000000000000000000,17.440000000000000000
4,2,140,80,1,1,0,0,1,1,63,105.820000000000000000,66.000000000000000000,17.210000000000000000

In [8]:
#Change object types to int types
heart_cardio['weight_lbs']=heart_cardio['weight_lbs'].astype(int)
heart_cardio['height_inches']=heart_cardio['height_inches'].astype(int)
heart_cardio['bmi']=heart_cardio['bmi'].astype(int)
heart_cardio.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 68638 entries, 0 to 68637
Data columns (total 13 columns):
gender                68638 non-null int32
systolic pressure     68638 non-null int32
diastolic pressure    68638 non-null int32
cholesterol           68638 non-null int32
gluc                  68638 non-null int32
smoke                 68638 non-null int32
alcohol               68638 non-null int32
active                68638 non-null int32
cardio                68638 non-null int32
age_yrs               68638 non-null int32
weight_lbs            68638 non-null int64
height_inches         68638 non-null int64
bmi                   68638 non-null int64
dtypes: int32(10), int64(3)
memory usage: 4.2 MB

In [9]:
#Drop rest of the features and create new df
feature_selected_df = heart_cardio.drop(['smoke', 'alcohol','height_inches', 'active'], axis=1)
feature_selected_df.head()

,gender,systolic pressure,diastolic pressure,cholesterol,gluc,cardio,age_yrs,weight_lbs,bmi
0,1,110,70,1,1,0,39,101,18
1,2,120,90,2,1,0,56,105,17
2,1,100,70,1,1,0,60,83,14
3,2,140,80,3,1,1,50,112,17
4,2,140,80,1,1,1,63,105,17

In [52]:
# duplicated = feature_selected_df.duplicated[feature_selected_df.duplicated(keep=False)]
# # duplicated = duplicated.sort_values(by=['age_yrs'], ascending= False) 
# # sorted the values to see duplication clearly

# duplicated.head(2) # Show us just 1 duplication of 24

In [29]:
#Scaling continuous features using StandardScaler
from sklearn.preprocessing import StandardScaler
standardScaler = StandardScaler()
columns_to_scale = ['age_yrs', 'bmi', 'weight_lbs', 'systolic pressure', 'diastolic pressure']
feature_selected_df[columns_to_scale] = standardScaler.fit_transform(feature_selected_df[columns_to_scale])
dataset=feature_selected_df
dataset.head()

,gender,systolic pressure,diastolic pressure,cholesterol,gluc,cardio,age_yrs,weight_lbs,bmi
0,1,-0.992021,-1.185255,1,1,0,-2.043112,-1.966130,-1.711763
1,2,-0.395186,0.899744,2,1,0,0.468413,-1.839147,-1.902760
2,1,-1.588856,-1.185255,1,1,0,1.059360,-2.537552,-2.475752
3,2,0.798484,-0.142756,3,1,1,-0.418008,-1.616928,-1.902760
4,2,0.798484,-0.142756,1,1,1,1.502570,-1.839147,-1.902760

In [30]:
target = dataset["cardio"]
data = dataset.drop("cardio", axis=1)
feature_names = data.columns
data.head()

,gender,systolic pressure,diastolic pressure,cholesterol,gluc,age_yrs,weight_lbs,bmi
0,1,-0.992021,-1.185255,1,1,-2.043112,-1.966130,-1.711763
1,2,-0.395186,0.899744,2,1,0.468413,-1.839147,-1.902760
2,1,-1.588856,-1.185255,1,1,1.059360,-2.537552,-2.475752
3,2,0.798484,-0.142756,3,1,-0.418008,-1.616928,-1.902760
4,2,0.798484,-0.142756,1,1,1.502570,-1.839147,-1.902760

In [31]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(data, target, random_state=42)
X_train.info()
X_test.count()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 51478 entries, 58732 to 15795
Data columns (total 8 columns):
gender                51478 non-null int32
systolic pressure     51478 non-null float64
diastolic pressure    51478 non-null float64
cholesterol           51478 non-null int32
gluc                  51478 non-null int32
age_yrs               51478 non-null float64
weight_lbs            51478 non-null float64
bmi                   51478 non-null float64
dtypes: float64(5), int32(3)
memory usage: 2.9 MB

gender                17160
systolic pressure     17160
diastolic pressure    17160
cholesterol           17160
gluc                  17160
age_yrs               17160
weight_lbs            17160
bmi                   17160
dtype: int64

## Neural Network

In [57]:
import tensorflow as tf
from tensorflow.keras.optimizers import RMSprop,Nadam,Adadelta,Adam
from tensorflow.keras.layers import BatchNormalization,LeakyReLU
from tensorflow.keras.callbacks import ReduceLROnPlateau, EarlyStopping
import seaborn as sns
import scipy.stats as stats
import sklearn
from keras.models import Sequential
from keras.layers import Conv2D, MaxPooling2D
from keras.layers import Activation, Dropout, Flatten, Dense
import warnings
from tensorflow.keras.utils import to_categorical

In [37]:
# X_train.shape[1]
# #For one hot encoding
num_classes = 2
y_train_nn = to_categorical(y_train, num_classes)
y_test_nn = to_categorical(y_test, num_classes)
# y_train = to_categorical(y_train)
# y_test = to_categorical(y_test)

8

In [47]:
y_test_nn = to_categorical(y_test, num_classes)

In [41]:
#Trying new ways to hyperparameter tuning
NN_model = Sequential()
#add hidden layer
NN_model.add(Dense(100, input_dim=X_train.shape[1], activation='relu'))
#add output layer, since it has num_class categories
NN_model.add(Dense(100, activation='relu'))
NN_model.add(Dense(num_classes, activation='sigmoid'))
NN_model.compile(loss='binary_crossentropy',optimizer='adam',metrics=['accuracy'], random_state=4)

In [63]:
#Model sent to mary, with label encoding
NN_model_2 = Sequential()
#add hidden layer
NN_model_2.add(Dense(32, input_dim=X_train.shape[1], activation='relu'))
#add output layer, since it has 2 categories
NN_model_2.add(Dense(8, activation='relu'))
NN_model_2.add(Dense(2, activation='sigmoid'))
NN_model_2.compile(loss='binary_crossentropy',optimizer='adam',metrics=['accuracy'])

#Adding validation_split=0.1 for creating a validation set with 10% data
NN_model_2.fit(X_train,y_train_nn, epochs=100, verbose=2)

Epoch 1/100
 - 3s - loss: 0.5655 - accuracy: 0.7151
Epoch 2/100
 - 2s - loss: 0.5502 - accuracy: 0.7301
Epoch 3/100
 - 2s - loss: 0.5488 - accuracy: 0.7308
Epoch 4/100
 - 2s - loss: 0.5478 - accuracy: 0.7302
Epoch 5/100
 - 2s - loss: 0.5470 - accuracy: 0.7322
Epoch 6/100
 - 2s - loss: 0.5462 - accuracy: 0.7318
Epoch 7/100
 - 2s - loss: 0.5459 - accuracy: 0.7325
Epoch 8/100
 - 2s - loss: 0.5456 - accuracy: 0.7322
Epoch 9/100
 - 2s - loss: 0.5453 - accuracy: 0.7327
Epoch 10/100
 - 2s - loss: 0.5451 - accuracy: 0.7330
Epoch 11/100
 - 3s - loss: 0.5447 - accuracy: 0.7333
Epoch 12/100
 - 2s - loss: 0.5444 - accuracy: 0.7333
Epoch 13/100
 - 2s - loss: 0.5441 - accuracy: 0.7342
Epoch 14/100
 - 2s - loss: 0.5440 - accuracy: 0.7327
Epoch 15/100
 - 2s - loss: 0.5440 - accuracy: 0.7341
Epoch 16/100
 - 2s - loss: 0.5436 - accuracy: 0.7337
Epoch 17/100
 - 2s - loss: 0.5438 - accuracy: 0.7341
Epoch 18/100
 - 2s - loss: 0.5437 - accuracy: 0.7341
Epoch 19/100
 - 2s - loss: 0.5435 - accuracy: 0.7338
Epoch 20/100
 - 2s - loss: 0.5433 - accuracy: 0.7336
Epoch 21/100
 - 2s - loss: 0.5433 - accuracy: 0.7348
Epoch 22/100
 - 2s - loss: 0.5431 - accuracy: 0.7343
Epoch 23/100
 - 2s - loss: 0.5430 - accuracy: 0.7352
Epoch 24/100
 - 2s - loss: 0.5427 - accuracy: 0.7341
Epoch 25/100
 - 2s - loss: 0.5426 - accuracy: 0.7345
Epoch 26/100
 - 2s - loss: 0.5424 - accuracy: 0.7346
Epoch 27/100
 - 2s - loss: 0.5425 - accuracy: 0.7350
Epoch 28/100
 - 2s - loss: 0.5423 - accuracy: 0.7348
Epoch 29/100
 - 2s - loss: 0.5425 - accuracy: 0.7363
Epoch 30/100
 - 2s - loss: 0.5423 - accuracy: 0.7350
Epoch 31/100
 - 2s - loss: 0.5422 - accuracy: 0.7343
Epoch 32/100
 - 2s - loss: 0.5421 - accuracy: 0.7346
Epoch 33/100
 - 2s - loss: 0.5421 - accuracy: 0.7356
Epoch 34/100
 - 2s - loss: 0.5419 - accuracy: 0.7353
Epoch 35/100
 - 3s - loss: 0.5420 - accuracy: 0.7351
Epoch 36/100
 - 3s - loss: 0.5420 - accuracy: 0.7361
Epoch 37/100
 - 3s - loss: 0.5419 - accuracy: 0.7359
Epoch 38/100
 - 3s - loss: 0.5417 - accuracy: 0.7359
Epoch 39/100
 - 2s - loss: 0.5417 - accuracy: 0.7350
Epoch 40/100
 - 2s - loss: 0.5417 - accuracy: 0.7357
Epoch 41/100
 - 2s - loss: 0.5417 - accuracy: 0.7359
Epoch 42/100
 - 2s - loss: 0.5416 - accuracy: 0.7355
Epoch 43/100
 - 2s - loss: 0.5416 - accuracy: 0.7362
Epoch 44/100
 - 2s - loss: 0.5415 - accuracy: 0.7366
Epoch 45/100
 - 2s - loss: 0.5416 - accuracy: 0.7345
Epoch 46/100
 - 2s - loss: 0.5415 - accuracy: 0.7358
Epoch 47/100
 - 2s - loss: 0.5413 - accuracy: 0.7367
Epoch 48/100
 - 2s - loss: 0.5415 - accuracy: 0.7354
Epoch 49/100
 - 2s - loss: 0.5414 - accuracy: 0.7353
Epoch 50/100
 - 2s - loss: 0.5413 - accuracy: 0.7352
Epoch 51/100
 - 2s - loss: 0.5412 - accuracy: 0.7359
Epoch 52/100
 - 2s - loss: 0.5412 - accuracy: 0.7358
Epoch 53/100
 - 2s - loss: 0.5411 - accuracy: 0.7362
Epoch 54/100
 - 2s - loss: 0.5414 - accuracy: 0.7356
Epoch 55/100
 - 2s - loss: 0.5410 - accuracy: 0.7354
Epoch 56/100
 - 2s - loss: 0.5411 - accuracy: 0.7355
Epoch 57/100
 - 2s - loss: 0.5411 - accuracy: 0.7354
Epoch 58/100
 - 2s - loss: 0.5410 - accuracy: 0.7360
Epoch 59/100
 - 2s - loss: 0.5410 - accuracy: 0.7351
Epoch 60/100
 - 2s - loss: 0.5408 - accuracy: 0.7361
Epoch 61/100
 - 2s - loss: 0.5407 - accuracy: 0.7362
Epoch 62/100
 - 2s - loss: 0.5408 - accuracy: 0.7358
Epoch 63/100
 - 2s - loss: 0.5410 - accuracy: 0.7358
Epoch 64/100
 - 2s - loss: 0.5407 - accuracy: 0.7370
Epoch 65/100
 - 2s - loss: 0.5406 - accuracy: 0.7364
Epoch 66/100
 - 2s - loss: 0.5408 - accuracy: 0.7368
Epoch 67/100
 - 2s - loss: 0.5408 - accuracy: 0.7360
Epoch 68/100
 - 2s - loss: 0.5405 - accuracy: 0.7371
Epoch 69/100
 - 3s - loss: 0.5407 - accuracy: 0.7356
Epoch 70/100
 - 3s - loss: 0.5408 - accuracy: 0.7362
Epoch 71/100
 - 2s - loss: 0.5406 - accuracy: 0.7355
Epoch 72/100
 - 2s - loss: 0.5403 - accuracy: 0.7360
Epoch 73/100
 - 2s - loss: 0.5405 - accuracy: 0.7357
Epoch 74/100
 - 2s - loss: 0.5403 - accuracy: 0.7359
Epoch 75/100
 - 2s - loss: 0.5404 - accuracy: 0.7363
Epoch 76/100
 - 2s - loss: 0.5404 - accuracy: 0.7367
Epoch 77/100
 - 2s - loss: 0.5402 - accuracy: 0.7358
Epoch 78/100
 - 3s - loss: 0.5403 - accuracy: 0.7363
Epoch 79/100
 - 2s - loss: 0.5401 - accuracy: 0.7371
Epoch 80/100
 - 2s - loss: 0.5401 - accuracy: 0.7369
Epoch 81/100
 - 2s - loss: 0.5405 - accuracy: 0.7371
Epoch 82/100
 - 2s - loss: 0.5402 - accuracy: 0.7365
Epoch 83/100
 - 3s - loss: 0.5401 - accuracy: 0.7360
Epoch 84/100
 - 2s - loss: 0.5401 - accuracy: 0.7362
Epoch 85/100
 - 2s - loss: 0.5400 - accuracy: 0.7360
Epoch 86/100
 - 2s - loss: 0.5399 - accuracy: 0.7358
Epoch 87/100
 - 2s - loss: 0.5401 - accuracy: 0.7369
Epoch 88/100
 - 2s - loss: 0.5400 - accuracy: 0.7371
Epoch 89/100
 - 2s - loss: 0.5399 - accuracy: 0.7360
Epoch 90/100
 - 2s - loss: 0.5402 - accuracy: 0.7366
Epoch 91/100
 - 2s - loss: 0.5397 - accuracy: 0.7364
Epoch 92/100
 - 2s - loss: 0.5400 - accuracy: 0.7360
Epoch 93/100
 - 2s - loss: 0.5402 - accuracy: 0.7372
Epoch 94/100
 - 2s - loss: 0.5397 - accuracy: 0.7358
Epoch 95/100
 - 2s - loss: 0.5399 - accuracy: 0.7374
Epoch 96/100
 - 2s - loss: 0.5397 - accuracy: 0.7369
Epoch 97/100
 - 3s - loss: 0.5396 - accuracy: 0.7368
Epoch 98/100
 - 3s - loss: 0.5397 - accuracy: 0.7364
Epoch 99/100
 - 2s - loss: 0.5396 - accuracy: 0.7367
Epoch 100/100
 - 3s - loss: 0.5397 - accuracy: 0.7369

In [59]:
# We can summarize our model
NN_model_2.summary()

Model: "sequential_3"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_6 (Dense)              (None, 32)                288
_________________________________________________________________
dense_7 (Dense)              (None, 8)                 264
_________________________________________________________________
dense_8 (Dense)              (None, 1)                 9
=================================================================
Total params: 561
Trainable params: 561
Non-trainable params: 0
_________________________________________________________________

In [45]:
NN_model.fit(X_train, y_train_nn, epochs=100, validation_split=0.1, verbose=2)

Train on 46330 samples, validate on 5148 samples
Epoch 1/100
 - 3s - loss: 0.5554 - accuracy: 0.7273 - val_loss: 0.5468 - val_accuracy: 0.7355
Epoch 2/100
 - 2s - loss: 0.5492 - accuracy: 0.7316 - val_loss: 0.5450 - val_accuracy: 0.7342
Epoch 3/100
 - 2s - loss: 0.5472 - accuracy: 0.7318 - val_loss: 0.5462 - val_accuracy: 0.7358
Epoch 4/100
 - 2s - loss: 0.5462 - accuracy: 0.7327 - val_loss: 0.5439 - val_accuracy: 0.7358
Epoch 5/100
 - 2s - loss: 0.5451 - accuracy: 0.7330 - val_loss: 0.5468 - val_accuracy: 0.7318
Epoch 6/100
 - 2s - loss: 0.5443 - accuracy: 0.7322 - val_loss: 0.5433 - val_accuracy: 0.7390
Epoch 7/100
 - 2s - loss: 0.5438 - accuracy: 0.7342 - val_loss: 0.5434 - val_accuracy: 0.7354
Epoch 8/100
 - 3s - loss: 0.5437 - accuracy: 0.7348 - val_loss: 0.5448 - val_accuracy: 0.7351
Epoch 9/100
 - 2s - loss: 0.5433 - accuracy: 0.7344 - val_loss: 0.5436 - val_accuracy: 0.7350
Epoch 10/100
 - 2s - loss: 0.5426 - accuracy: 0.7344 - val_loss: 0.5441 - val_accuracy: 0.7345
Epoch 11/100
 - 2s - loss: 0.5424 - accuracy: 0.7344 - val_loss: 0.5443 - val_accuracy: 0.7366
Epoch 12/100
 - 2s - loss: 0.5423 - accuracy: 0.7346 - val_loss: 0.5423 - val_accuracy: 0.7367
Epoch 13/100
 - 2s - loss: 0.5420 - accuracy: 0.7357 - val_loss: 0.5428 - val_accuracy: 0.7335
Epoch 14/100
 - 2s - loss: 0.5417 - accuracy: 0.7350 - val_loss: 0.5441 - val_accuracy: 0.7340
Epoch 15/100
 - 2s - loss: 0.5416 - accuracy: 0.7354 - val_loss: 0.5432 - val_accuracy: 0.7331
Epoch 16/100
 - 2s - loss: 0.5413 - accuracy: 0.7361 - val_loss: 0.5431 - val_accuracy: 0.7343
Epoch 17/100
 - 2s - loss: 0.5408 - accuracy: 0.7356 - val_loss: 0.5445 - val_accuracy: 0.7347
Epoch 18/100
 - 2s - loss: 0.5409 - accuracy: 0.7357 - val_loss: 0.5432 - val_accuracy: 0.7349
Epoch 19/100
 - 2s - loss: 0.5404 - accuracy: 0.7359 - val_loss: 0.5435 - val_accuracy: 0.7326
Epoch 20/100
 - 2s - loss: 0.5402 - accuracy: 0.7368 - val_loss: 0.5429 - val_accuracy: 0.7318
Epoch 21/100
 - 2s - loss: 0.5397 - accuracy: 0.7374 - val_loss: 0.5436 - val_accuracy: 0.7328
Epoch 22/100
 - 2s - loss: 0.5400 - accuracy: 0.7363 - val_loss: 0.5432 - val_accuracy: 0.7314
Epoch 23/100
 - 2s - loss: 0.5394 - accuracy: 0.7363 - val_loss: 0.5448 - val_accuracy: 0.7302
Epoch 24/100
 - 2s - loss: 0.5391 - accuracy: 0.7363 - val_loss: 0.5440 - val_accuracy: 0.7341
Epoch 25/100
 - 2s - loss: 0.5389 - accuracy: 0.7372 - val_loss: 0.5467 - val_accuracy: 0.7297
Epoch 26/100
 - 2s - loss: 0.5388 - accuracy: 0.7375 - val_loss: 0.5438 - val_accuracy: 0.7279
Epoch 27/100
 - 2s - loss: 0.5381 - accuracy: 0.7381 - val_loss: 0.5443 - val_accuracy: 0.7296
Epoch 28/100
 - 2s - loss: 0.5379 - accuracy: 0.7373 - val_loss: 0.5448 - val_accuracy: 0.7333
Epoch 29/100
 - 2s - loss: 0.5376 - accuracy: 0.7387 - val_loss: 0.5450 - val_accuracy: 0.7298
Epoch 30/100
 - 2s - loss: 0.5375 - accuracy: 0.7394 - val_loss: 0.5466 - val_accuracy: 0.7293
Epoch 31/100
 - 2s - loss: 0.5369 - accuracy: 0.7383 - val_loss: 0.5458 - val_accuracy: 0.7316
Epoch 32/100
 - 2s - loss: 0.5365 - accuracy: 0.7391 - val_loss: 0.5467 - val_accuracy: 0.7295
Epoch 33/100
 - 2s - loss: 0.5366 - accuracy: 0.7386 - val_loss: 0.5433 - val_accuracy: 0.7285
Epoch 34/100
 - 2s - loss: 0.5365 - accuracy: 0.7387 - val_loss: 0.5438 - val_accuracy: 0.7308
Epoch 35/100
 - 2s - loss: 0.5360 - accuracy: 0.7392 - val_loss: 0.5469 - val_accuracy: 0.7291
Epoch 36/100
 - 2s - loss: 0.5356 - accuracy: 0.7391 - val_loss: 0.5481 - val_accuracy: 0.7278
Epoch 37/100
 - 2s - loss: 0.5356 - accuracy: 0.7399 - val_loss: 0.5476 - val_accuracy: 0.7278
Epoch 38/100
 - 2s - loss: 0.5350 - accuracy: 0.7402 - val_loss: 0.5491 - val_accuracy: 0.7250
Epoch 39/100
 - 2s - loss: 0.5348 - accuracy: 0.7397 - val_loss: 0.5471 - val_accuracy: 0.7301
Epoch 40/100
 - 2s - loss: 0.5344 - accuracy: 0.7402 - val_loss: 0.5463 - val_accuracy: 0.7228
Epoch 41/100
 - 2s - loss: 0.5340 - accuracy: 0.7398 - val_loss: 0.5470 - val_accuracy: 0.7288
Epoch 42/100
 - 2s - loss: 0.5339 - accuracy: 0.7414 - val_loss: 0.5491 - val_accuracy: 0.7313
Epoch 43/100
 - 2s - loss: 0.5336 - accuracy: 0.7403 - val_loss: 0.5481 - val_accuracy: 0.7254
Epoch 44/100
 - 2s - loss: 0.5332 - accuracy: 0.7411 - val_loss: 0.5511 - val_accuracy: 0.7267
Epoch 45/100
 - 2s - loss: 0.5331 - accuracy: 0.7409 - val_loss: 0.5485 - val_accuracy: 0.7243
Epoch 46/100
 - 2s - loss: 0.5328 - accuracy: 0.7417 - val_loss: 0.5501 - val_accuracy: 0.7278
Epoch 47/100
 - 2s - loss: 0.5323 - accuracy: 0.7419 - val_loss: 0.5518 - val_accuracy: 0.7247
Epoch 48/100
 - 2s - loss: 0.5321 - accuracy: 0.7420 - val_loss: 0.5488 - val_accuracy: 0.7273
Epoch 49/100
 - 2s - loss: 0.5321 - accuracy: 0.7423 - val_loss: 0.5481 - val_accuracy: 0.7292
Epoch 50/100
 - 2s - loss: 0.5313 - accuracy: 0.7420 - val_loss: 0.5505 - val_accuracy: 0.7275
Epoch 51/100
 - 2s - loss: 0.5309 - accuracy: 0.7419 - val_loss: 0.5506 - val_accuracy: 0.7257
Epoch 52/100
 - 2s - loss: 0.5305 - accuracy: 0.7423 - val_loss: 0.5575 - val_accuracy: 0.7240
Epoch 53/100
 - 2s - loss: 0.5305 - accuracy: 0.7428 - val_loss: 0.5550 - val_accuracy: 0.7262
Epoch 54/100
 - 2s - loss: 0.5302 - accuracy: 0.7430 - val_loss: 0.5541 - val_accuracy: 0.7277
Epoch 55/100
 - 2s - loss: 0.5297 - accuracy: 0.7435 - val_loss: 0.5543 - val_accuracy: 0.7225
Epoch 56/100
 - 2s - loss: 0.5294 - accuracy: 0.7437 - val_loss: 0.5538 - val_accuracy: 0.7256
Epoch 57/100
 - 2s - loss: 0.5288 - accuracy: 0.7435 - val_loss: 0.5531 - val_accuracy: 0.7263
Epoch 58/100
 - 2s - loss: 0.5284 - accuracy: 0.7442 - val_loss: 0.5547 - val_accuracy: 0.7279
Epoch 59/100
 - 2s - loss: 0.5285 - accuracy: 0.7442 - val_loss: 0.5562 - val_accuracy: 0.7270
Epoch 60/100
 - 2s - loss: 0.5283 - accuracy: 0.7447 - val_loss: 0.5550 - val_accuracy: 0.7267
Epoch 61/100
 - 2s - loss: 0.5276 - accuracy: 0.7444 - val_loss: 0.5538 - val_accuracy: 0.7202
Epoch 62/100
 - 2s - loss: 0.5271 - accuracy: 0.7446 - val_loss: 0.5579 - val_accuracy: 0.7256
Epoch 63/100
 - 2s - loss: 0.5268 - accuracy: 0.7440 - val_loss: 0.5583 - val_accuracy: 0.7215
Epoch 64/100
 - 2s - loss: 0.5267 - accuracy: 0.7453 - val_loss: 0.5583 - val_accuracy: 0.7264
Epoch 65/100
 - 2s - loss: 0.5264 - accuracy: 0.7452 - val_loss: 0.5572 - val_accuracy: 0.7247
Epoch 66/100
 - 2s - loss: 0.5260 - accuracy: 0.7453 - val_loss: 0.5595 - val_accuracy: 0.7214
Epoch 67/100
 - 2s - loss: 0.5257 - accuracy: 0.7457 - val_loss: 0.5586 - val_accuracy: 0.7238
Epoch 68/100
 - 2s - loss: 0.5250 - accuracy: 0.7449 - val_loss: 0.5584 - val_accuracy: 0.7228
Epoch 69/100
 - 2s - loss: 0.5248 - accuracy: 0.7461 - val_loss: 0.5588 - val_accuracy: 0.7252
Epoch 70/100
 - 3s - loss: 0.5248 - accuracy: 0.7464 - val_loss: 0.5588 - val_accuracy: 0.7256
Epoch 71/100
 - 3s - loss: 0.5237 - accuracy: 0.7466 - val_loss: 0.5624 - val_accuracy: 0.7212
Epoch 72/100
 - 2s - loss: 0.5236 - accuracy: 0.7463 - val_loss: 0.5607 - val_accuracy: 0.7226
Epoch 73/100
 - 3s - loss: 0.5239 - accuracy: 0.7469 - val_loss: 0.5602 - val_accuracy: 0.7255
Epoch 74/100
 - 2s - loss: 0.5232 - accuracy: 0.7464 - val_loss: 0.5627 - val_accuracy: 0.7229
Epoch 75/100
 - 3s - loss: 0.5228 - accuracy: 0.7463 - val_loss: 0.5611 - val_accuracy: 0.7216
Epoch 76/100
 - 3s - loss: 0.5222 - accuracy: 0.7472 - val_loss: 0.5657 - val_accuracy: 0.7232
Epoch 77/100
 - 2s - loss: 0.5220 - accuracy: 0.7471 - val_loss: 0.5607 - val_accuracy: 0.7214
Epoch 78/100
 - 2s - loss: 0.5216 - accuracy: 0.7484 - val_loss: 0.5600 - val_accuracy: 0.7226
Epoch 79/100
 - 2s - loss: 0.5211 - accuracy: 0.7487 - val_loss: 0.5625 - val_accuracy: 0.7199
Epoch 80/100
 - 2s - loss: 0.5208 - accuracy: 0.7491 - val_loss: 0.5613 - val_accuracy: 0.7218
Epoch 81/100
 - 3s - loss: 0.5208 - accuracy: 0.7479 - val_loss: 0.5663 - val_accuracy: 0.7230
Epoch 82/100
 - 2s - loss: 0.5200 - accuracy: 0.7497 - val_loss: 0.5675 - val_accuracy: 0.7207
Epoch 83/100
 - 2s - loss: 0.5199 - accuracy: 0.7481 - val_loss: 0.5658 - val_accuracy: 0.7183
Epoch 84/100
 - 2s - loss: 0.5197 - accuracy: 0.7473 - val_loss: 0.5690 - val_accuracy: 0.7228
Epoch 85/100
 - 2s - loss: 0.5194 - accuracy: 0.7483 - val_loss: 0.5685 - val_accuracy: 0.7166
Epoch 86/100
 - 2s - loss: 0.5186 - accuracy: 0.7494 - val_loss: 0.5664 - val_accuracy: 0.7205

Epoch 87/100
 - 2s - loss: 0.5189 - accuracy: 0.7488 - val_loss: 0.5713 - val_accuracy: 0.7181
Epoch 88/100
 - 2s - loss: 0.5182 - accuracy: 0.7496 - val_loss: 0.5707 - val_accuracy: 0.7170
Epoch 89/100
 - 2s - loss: 0.5184 - accuracy: 0.7489 - val_loss: 0.5683 - val_accuracy: 0.7158
Epoch 90/100
 - 2s - loss: 0.5176 - accuracy: 0.7500 - val_loss: 0.5712 - val_accuracy: 0.7191
Epoch 91/100
 - 2s - loss: 0.5167 - accuracy: 0.7503 - val_loss: 0.5736 - val_accuracy: 0.7158
Epoch 92/100
 - 2s - loss: 0.5171 - accuracy: 0.7498 - val_loss: 0.5719 - val_accuracy: 0.7178
Epoch 93/100
 - 2s - loss: 0.5160 - accuracy: 0.7514 - val_loss: 0.5699 - val_accuracy: 0.7207
Epoch 94/100
 - 2s - loss: 0.5158 - accuracy: 0.7510 - val_loss: 0.5761 - val_accuracy: 0.7165
Epoch 95/100
 - 3s - loss: 0.5162 - accuracy: 0.7509 - val_loss: 0.5772 - val_accuracy: 0.7155
Epoch 96/100
 - 2s - loss: 0.5153 - accuracy: 0.7517 - val_loss: 0.5749 - val_accuracy: 0.7174
Epoch 97/100
 - 2s - loss: 0.5150 - accuracy: 0.7507 - val_loss: 0.5752 - val_accuracy: 0.7156
Epoch 98/100
 - 2s - loss: 0.5147 - accuracy: 0.7513 - val_loss: 0.5769 - val_accuracy: 0.7141
Epoch 99/100
 - 3s - loss: 0.5138 - accuracy: 0.7525 - val_loss: 0.5731 - val_accuracy: 0.7199
Epoch 100/100
 - 3s - loss: 0.5134 - accuracy: 0.7530 - val_loss: 0.5761 - val_accuracy: 0.7154

In [65]:
NN_model_2_loss, NN_model_2_accuracy = NN_model_2.evaluate(
    X_test, y_test_nn, verbose=2)
print(
    f"Normal Neural Network - Loss: {NN_model_2_loss}, Accuracy: {round(NN_model_2_accuracy*100,2)}")

Normal Neural Network - Loss: 0.5437893510976316, Accuracy: 73.22

In [68]:
#Model saved, without label encoding
NN_model_3 = Sequential()
#add hidden layer
NN_model_3.add(Dense(32, input_dim=X_train.shape[1], activation='relu'))
#add output layer, since it has 2 categories
NN_model_3.add(Dense(8, activation='relu'))
NN_model_3.add(Dense(1, activation='sigmoid'))
NN_model_3.compile(loss='binary_crossentropy',optimizer='adam',metrics=['accuracy'])

#Adding validation_split=0.1 for creating a validation set with 10% data
NN_model_3.fit(X_train,y_train, epochs=100, verbose=2)

Epoch 1/100
 - 3s - loss: 0.5593 - accuracy: 0.7263
Epoch 2/100
 - 2s - loss: 0.5511 - accuracy: 0.7307
Epoch 3/100
 - 2s - loss: 0.5484 - accuracy: 0.7318
Epoch 4/100
 - 2s - loss: 0.5469 - accuracy: 0.7318
Epoch 5/100
 - 2s - loss: 0.5459 - accuracy: 0.7328
Epoch 6/100
 - 2s - loss: 0.5453 - accuracy: 0.7322
Epoch 7/100
 - 2s - loss: 0.5449 - accuracy: 0.7338
Epoch 8/100
 - 2s - loss: 0.5445 - accuracy: 0.7337
Epoch 9/100
 - 2s - loss: 0.5441 - accuracy: 0.7335
Epoch 10/100
 - 2s - loss: 0.5440 - accuracy: 0.7347
Epoch 11/100
 - 3s - loss: 0.5438 - accuracy: 0.7346
Epoch 12/100
 - 3s - loss: 0.5435 - accuracy: 0.7346
Epoch 13/100
 - 3s - loss: 0.5433 - accuracy: 0.7349
Epoch 14/100
 - 3s - loss: 0.5433 - accuracy: 0.7345
Epoch 15/100
 - 2s - loss: 0.5429 - accuracy: 0.7348
Epoch 16/100
 - 2s - loss: 0.5430 - accuracy: 0.7338
Epoch 17/100
 - 3s - loss: 0.5428 - accuracy: 0.7357
Epoch 18/100
 - 2s - loss: 0.5426 - accuracy: 0.7344
Epoch 19/100
 - 2s - loss: 0.5424 - accuracy: 0.7354
Epoch 20/100
 - 2s - loss: 0.5425 - accuracy: 0.7354
Epoch 21/100
 - 2s - loss: 0.5423 - accuracy: 0.7352
Epoch 22/100
 - 2s - loss: 0.5423 - accuracy: 0.7352
Epoch 23/100
 - 2s - loss: 0.5422 - accuracy: 0.7349
Epoch 24/100
 - 3s - loss: 0.5422 - accuracy: 0.7349
Epoch 25/100
 - 3s - loss: 0.5421 - accuracy: 0.7352
Epoch 26/100
 - 3s - loss: 0.5420 - accuracy: 0.7352
Epoch 27/100
 - 3s - loss: 0.5420 - accuracy: 0.7359
Epoch 28/100
 - 2s - loss: 0.5418 - accuracy: 0.7358
Epoch 29/100
 - 3s - loss: 0.5418 - accuracy: 0.7346
Epoch 30/100
 - 3s - loss: 0.5417 - accuracy: 0.7354
Epoch 31/100
 - 3s - loss: 0.5421 - accuracy: 0.7347
Epoch 32/100
 - 2s - loss: 0.5418 - accuracy: 0.7351
Epoch 33/100
 - 3s - loss: 0.5417 - accuracy: 0.7355
Epoch 34/100
 - 2s - loss: 0.5418 - accuracy: 0.7363
Epoch 35/100
 - 2s - loss: 0.5418 - accuracy: 0.7357
Epoch 36/100
 - 2s - loss: 0.5417 - accuracy: 0.7349
Epoch 37/100
 - 2s - loss: 0.5416 - accuracy: 0.7352
Epoch 38/100
 - 2s - loss: 0.5415 - accuracy: 0.7365
Epoch 39/100
 - 2s - loss: 0.5416 - accuracy: 0.7362
Epoch 40/100
 - 2s - loss: 0.5412 - accuracy: 0.7358
Epoch 41/100
 - 2s - loss: 0.5416 - accuracy: 0.7355
Epoch 42/100
 - 2s - loss: 0.5412 - accuracy: 0.7365
Epoch 43/100
 - 3s - loss: 0.5412 - accuracy: 0.7348
Epoch 44/100
 - 2s - loss: 0.5414 - accuracy: 0.7355
Epoch 45/100
 - 2s - loss: 0.5412 - accuracy: 0.7350
Epoch 46/100
 - 2s - loss: 0.5412 - accuracy: 0.7353
Epoch 47/100
 - 2s - loss: 0.5412 - accuracy: 0.7358
Epoch 48/100
 - 2s - loss: 0.5411 - accuracy: 0.7350
Epoch 49/100
 - 2s - loss: 0.5410 - accuracy: 0.7363
Epoch 50/100
 - 2s - loss: 0.5412 - accuracy: 0.7350
Epoch 51/100
 - 2s - loss: 0.5409 - accuracy: 0.7354
Epoch 52/100
 - 2s - loss: 0.5408 - accuracy: 0.7365
Epoch 53/100
 - 2s - loss: 0.5406 - accuracy: 0.7352
Epoch 54/100
 - 2s - loss: 0.5407 - accuracy: 0.7358
Epoch 55/100
 - 2s - loss: 0.5408 - accuracy: 0.7362
Epoch 56/100
 - 2s - loss: 0.5408 - accuracy: 0.7352
Epoch 57/100
 - 3s - loss: 0.5409 - accuracy: 0.7369
Epoch 58/100
 - 2s - loss: 0.5408 - accuracy: 0.7356
Epoch 59/100
 - 2s - loss: 0.5406 - accuracy: 0.7356
Epoch 60/100
 - 3s - loss: 0.5405 - accuracy: 0.7361
Epoch 61/100
 - 2s - loss: 0.5405 - accuracy: 0.7360
Epoch 62/100
 - 2s - loss: 0.5407 - accuracy: 0.7359
Epoch 63/100
 - 2s - loss: 0.5405 - accuracy: 0.7364
Epoch 64/100
 - 2s - loss: 0.5404 - accuracy: 0.7365
Epoch 65/100
 - 3s - loss: 0.5405 - accuracy: 0.7354
Epoch 66/100
 - 2s - loss: 0.5405 - accuracy: 0.7370
Epoch 67/100
 - 2s - loss: 0.5403 - accuracy: 0.7363
Epoch 68/100
 - 2s - loss: 0.5403 - accuracy: 0.7370
Epoch 69/100
 - 2s - loss: 0.5402 - accuracy: 0.7359
Epoch 70/100
 - 2s - loss: 0.5403 - accuracy: 0.7363
Epoch 71/100
 - 2s - loss: 0.5403 - accuracy: 0.7368
Epoch 72/100
 - 2s - loss: 0.5401 - accuracy: 0.7362
Epoch 73/100
 - 2s - loss: 0.5404 - accuracy: 0.7375
Epoch 74/100
 - 2s - loss: 0.5399 - accuracy: 0.7366
Epoch 75/100
 - 2s - loss: 0.5402 - accuracy: 0.7360
Epoch 76/100
 - 2s - loss: 0.5399 - accuracy: 0.7370
Epoch 77/100
 - 2s - loss: 0.5400 - accuracy: 0.7362
Epoch 78/100
 - 2s - loss: 0.5398 - accuracy: 0.7357
Epoch 79/100
 - 2s - loss: 0.5399 - accuracy: 0.7364
Epoch 80/100
 - 2s - loss: 0.5400 - accuracy: 0.7361
Epoch 81/100
 - 2s - loss: 0.5401 - accuracy: 0.7354
Epoch 82/100
 - 2s - loss: 0.5398 - accuracy: 0.7356
Epoch 83/100
 - 2s - loss: 0.5400 - accuracy: 0.7350
Epoch 84/100
 - 2s - loss: 0.5397 - accuracy: 0.7357
Epoch 85/100
 - 2s - loss: 0.5399 - accuracy: 0.7357
Epoch 86/100
 - 2s - loss: 0.5396 - accuracy: 0.7358
Epoch 87/100
 - 2s - loss: 0.5397 - accuracy: 0.7358
Epoch 88/100
 - 3s - loss: 0.5398 - accuracy: 0.7360
Epoch 89/100
 - 2s - loss: 0.5395 - accuracy: 0.7371
Epoch 90/100
 - 2s - loss: 0.5399 - accuracy: 0.7354
Epoch 91/100
 - 2s - loss: 0.5395 - accuracy: 0.7367
Epoch 92/100
 - 2s - loss: 0.5395 - accuracy: 0.7375
Epoch 93/100
 - 3s - loss: 0.5395 - accuracy: 0.7357
Epoch 94/100
 - 3s - loss: 0.5398 - accuracy: 0.7363
Epoch 95/100
 - 3s - loss: 0.5395 - accuracy: 0.7363
Epoch 96/100
 - 2s - loss: 0.5393 - accuracy: 0.7368
Epoch 97/100
 - 2s - loss: 0.5392 - accuracy: 0.7357
Epoch 98/100
 - 2s - loss: 0.5394 - accuracy: 0.7363
Epoch 99/100
 - 2s - loss: 0.5393 - accuracy: 0.7358
Epoch 100/100
 - 2s - loss: 0.5394 - accuracy: 0.7359

In [69]:
NN_model_3_loss, NN_model_3_accuracy = NN_model_3.evaluate(
    X_test, y_test, verbose=2)
print(
    f"Normal Neural Network - Loss: {NN_model_3_loss}, Accuracy: {round(NN_model_3_accuracy*100,2)}")

Normal Neural Network - Loss: 0.5422250737121334, Accuracy: 73.25

In [81]:
#Test the saved model
import numpy as np
Normal=[2, 120, 78, 1, 25, 130, 21.6]
Risk=[2, 200, 120,3, 55,210,31]
B=np.array(Z)
# B
C=B.reshape(1, -1)
# C
# NN_model.predict_proba(C)
# C.shap
from keras.models import load_model
Best_model = load_model('NN_model.h5')
predictions=Best_model.predict(C)
predictions
# print('Predicted:', decode_predictions(predictions))

array([[0.97558844]], dtype=float32)